In [11]:
%run fetch_data.py

data already exists, will not download

In [26]:
%run format_data.py

In [27]:
import numpy as np

In [28]:
%matplotlib inline
import matplotlib.pyplot as plt

In [29]:
import pandas as pd
matches_df = pd.read_csv("./matches_formatted.csv")
matches_df.head()

,summoner name,game duration,win,champion,champion id,champion level,deaths,kills,assists,role,wards killed,wards placed
0,Cillian Murphy1,1627,1,Sion,14,16,6,2,17,SOLO,2,14
1,HMpeiwan offlÏne,1627,1,Khazix,121,16,2,14,5,NONE,7,5
2,goodtoknowyouhah,1627,1,Neeko,518,17,1,9,10,SOLO,2,6
3,Server Menace,1627,1,Draven,119,14,7,7,5,CARRY,3,8
4,Chapter 4,1627,1,Janna,40,13,4,1,22,SUPPORT,6,34